[submodule ".local/share/wmdot"]
	path = .local/share/wmdot
	url = https://github.com/wmil/wmdot.git
[submodule ".local/share/zsh-autosuggestions"]
	path = .local/share/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule ".local/share/zsh-syntax-highlighting"]
	path = .local/share/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".local/share/zsh-completions"]
	path = .local/share/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule ".local/share/zsh-history-substring-search"]
	path = .local/share/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search.git
[submodule ".vim/pack/ex/opt/onedark.vim"]
	path = .vim/pack/ex/opt/onedark.vim
	url = https://github.com/joshdick/onedark.vim.git
[submodule ".vim/pack/ex/opt/lightline.vim"]
	path = .vim/pack/ex/opt/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
[submodule ".vim/pack/ex/opt/vim-polyglot"]
	path = .vim/pack/ex/opt/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule ".vim/pack/ex/opt/nerdtree"]
	path = .vim/pack/ex/opt/nerdtree
	url = https://github.com/preservim/nerdtree.git
